---
import CategoriesList from '@components/categories-list/index.astro';
import Title from '@components/title/index.astro';
---

<aside>
  <Title>Top Categories</Title>
  <CategoriesList />
</aside>
