---
import styles from './styles.module.scss';

interface Page {
  name: string;
  url: string;
}

interface Props {
  pages: Page[];
}

const { pages } = Astro.props;
---

{
  pages.length > 1 && (
    <nav class={styles.breadcrumb}>
      <ul>
        {pages.map((page, i) => (
          <li>
            {i < pages.length - 1 && <a href={page.url}>{page.name}</a>}
            {i === pages.length - 1 && page.name}
          </li>
        ))}
      </ul>
    </nav>
  )
}
