@use '@styles/functions' as f;

.breadcrumb {
  padding: var(--spacing-4);

  ul {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-1);
    list-style: none;
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    flex-wrap: wrap;
  }

  li {
    &::before {
      display: inline-block;
      content: '/';
      padding-inline-end: var(--spacing-1);
    }
  }

  li:first-child {
    &::before {
      content: unset;
    }
  }
}
