---
import BlogLayout from '../../../layouts/blog-layout.astro';

const title = 'Credits | Couples Run';
const description = 'Credits for the Couples Run game';
---

<BlogLayout
  title={title}
  description={description}
  path="/games/couples-run/credits"
  pageTitle="Credits for Couples Run"
>
  <div class="page-content text-center">
    <article class="post">
      <h3 class="title">Created by</h3>
      <p>Nikos Printezis</p>
    </article>
    <article class="post">
      <h3 class="title">Night city background by</h3>
      <p>CraftPix.net 2D Game Assets</p>
      <p>
        <a
          href="https://opengameart.org/content/night-city-pixel-art-background"
          target="_blank"
          rel="noreferrer"
        >
          https://opengameart.org/content/night-city-pixel-art-background
        </a>
      </p>
    </article>
    <article class="post">
      <h3 class="title">Pixel tileset by</h3>
      <p>software_atelier</p>
      <p>
        <a
          href="https://opengameart.org/content/city-pixel-tileset"
          target="_blank"
          rel="noreferrer"
        >
          https://opengameart.org/content/city-pixel-tileset
        </a>
      </p>
    </article>
    <article class="post">
      <h3 class="title">Boy and girl character by</h3>
      <p>Mobile Game Graphics</p>
      <p>
        <a
          href="https://opengameart.org/content/pixelantasy"
          target="_blank"
          rel="noreferrer"
        >
          https://opengameart.org/content/pixelantasy
        </a>
      </p>
    </article>
    <article class="post">
      <h3 class="title">Main game loop music (Metropolis Rush) by</h3>
      <p>Johan Brodd</p>
      <p>
        <a
          href="https://opengameart.org/content/metropolis-rush"
          target="_blank"
          rel="noreferrer"
        >
          https://opengameart.org/content/metropolis-rush
        </a>
      </p>
    </article>
    <article class="post">
      <h3 class="title">Introduction loop music (Urban Ambient Theme) by</h3>
      <p>Ted Kerr 2018</p>
      <p>
        <a
          href="https://opengameart.org/content/urban-ambient-theme"
          target="_blank"
          rel="noreferrer"
        >
          https://opengameart.org/content/urban-ambient-theme
        </a>
      </p>
    </article>
    <article class="post">
      <h3 class="title">Click sound by</h3>
      <p>qubodup</p>
      <p>
        <a
          href="https://opengameart.org/content/click"
          target="_blank"
          rel="noreferrer"
        >
          https://opengameart.org/content/click
        </a>
      </p>
    </article>
  </div>
</BlogLayout>
