---
import BlogLayout from '../../../layouts/blog-layout.astro';
import { CreditsHtml } from '@printezisn/games-couples-run/templates';

const title = 'Credits | Couples Run';
const description = 'Credits for the Couples Run game';
---

<BlogLayout
  title={title}
  description={description}
  path="/games/couples-run/credits/"
  breadcrumbList={[
    {
      name: 'Portfolio',
      url: '/',
    },
    {
      name: 'Couples Run',
      url: '/games/couples-run/',
    },
    {
      name: 'Credits',
      url: '/games/couples-run/credits/',
    },
  ]}
>
  <h2 class="big-title page-content">Credits for Couples Run</h2>
  <Fragment set:html={CreditsHtml.replace(/text-center/g, '')} />
</BlogLayout>
