---
import BlogLayout from '@layouts/blog-layout.astro';
import Title from '@components/title/index.astro';
import { CreditsHtml } from '@printezisn/games-couples-run/templates';
import styles from '@styles/pages/games/couples-run/credits/styles.module.scss';

const title = 'Credits for Couples Run';
const description = 'Credits for the Couples Run game';
---

<BlogLayout
  title={title}
  description={description}
  path="/games/couples-run/credits/"
  breadcrumbList={[
    {
      name: 'Portfolio',
      url: '/',
    },
    {
      name: 'Couples Run',
      url: '/games/couples-run/',
    },
    {
      name: 'Credits',
      url: '/games/couples-run/credits/',
    },
  ]}
  lastUpdateTime={new Date('2025-06-29')}
>
  <Title variant="big">Credits for Couples Run</Title>
  <div class={styles.content}>
    <Fragment set:html={CreditsHtml.replace(/text-center/g, '')} />
  </div>
</BlogLayout>
