---
import BlogLayout from '@layouts/blog-layout.astro';
import { PrivacyPolicyHtml } from '@printezisn/games-couples-run/templates';
import styles from '@styles/pages/games/couples-run/privacy-policy/styles.module.scss';

const title = 'Privacy Policy | Couples Run';
const description = 'Privacy policy for the Couples Run game';
---

<BlogLayout
  title={title}
  description={description}
  path="/games/couples-run/privacy-policy/"
  breadcrumbList={[
    {
      name: 'Portfolio',
      url: '/',
    },
    {
      name: 'Couples Run',
      url: '/games/couples-run/',
    },
    {
      name: 'Privacy Policy',
      url: '/games/couples-run/privacy-policy/',
    },
  ]}
  lastUpdateTime={new Date('2025-04-17')}
>
  <div class={styles.content}>
    <Fragment set:html={PrivacyPolicyHtml} />
  </div>
</BlogLayout>
