---
import BlogLayout from '@layouts/blog-layout.astro';
import MehIcon from 'feather-icons/dist/icons/meh.svg';
import IconPage from '@components/icon-page/index.astro';
---

<BlogLayout
  title="Page Not Found"
  description="The page you requested was not found"
  path="/404/"
  breadcrumbList={[]}
  index={false}
>
  <IconPage title="Page Not Found" Icon={MehIcon}>
    <p>
      The page you're looking for wasn't found. But don't frown! There is plenty
      of <a href="/">content</a> to take a look at.
    </p>
  </IconPage>
</BlogLayout>
