---
import BlogLayout from '@layouts/blog-layout.astro';
import MehIcon from 'feather-icons/dist/icons/meh.svg';
import IconPage from '@components/icon-page/index.astro';
---

<BlogLayout
  title="Error Occurred"
  description="The page you requested was not found"
  path="/500/"
  breadcrumbList={[]}
  index={false}
  lastUpdateTime={new Date('2025-04-17')}
>
  <IconPage title="Error Occurred" Icon={MehIcon}>
    <p>
      An unexpected error occurred. But don't frown! Try again later or take a
      look at the rest of the <a href="/">content</a>.
    </p>
  </IconPage>
</BlogLayout>
