@use '@styles/variables' as v;
@use '@styles/functions' as f;

.header {
  display: grid;
  container-type: inline-size;
  position: relative;
}

.banner {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  block-size: #{f.relativeSize(500)};

  img {
    display: block;
    aspect-ratio: 16 / 9;
    block-size: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 0;
    inset-block-end: 0;
    background-color: var(--color-primary-overlay);
  }
}

.content {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-4);
  text-align: center;
  max-inline-size: #{f.relativeSize(v.$text-container-inline-size)};
  margin: auto;

  img {
    border-radius: 50%;
    border: solid 3px var(--color-secondary-light);
    aspect-ratio: 1;
  }

  h1 {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-7);
    line-height: var(--line-height-7);
    font-weight: var(--font-weight-bold);
  }

  p {
    font-style: italic;
    text-align: justify;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-4);
    color: var(--color-secondary-light);
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    margin-block-start: var(--spacing-4);

    li {
      display: flex;
      align-items: center;
      gap: var(--spacing-4);
    }

    li::before {
      content: '';
      display: inline-block;
      inline-size: 5px;
      block-size: 5px;
      border-radius: 50%;
      background-color: currentColor;
    }

    li:first-child::before {
      display: none;
    }

    a {
      font-family: var(--font-family-serif);
      text-decoration: none;
    }
  }
}

@container (max-inline-size: #{f.relativeSize(288)}) {
  .banner {
    block-size: auto;
  }

  .content {
    ul {
      flex-direction: column;

      li::before {
        content: none;
      }
    }
  }
}
