---
import { getCollection } from 'astro:content';

interface Props {
  categorySlugs?: string[];
}

const { categorySlugs } = Astro.props;

let categories = (await getCollection('categories')).sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
if (categorySlugs) {
  categories = categories.filter((category) =>
    categorySlugs.includes(category.id),
  );
}
---

<nav class="categories-list">
  <ul>
    {
      categories.map((cat) => (
        <li>
          <a
            href={`/blog/category/${cat.id}/`}
            class="button"
            title={`View all posts in category "${cat.data.title}"`}
          >
            {cat.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
