---
import { getCollection } from 'astro:content';
import BlogLayout from '../../../layouts/blog-layout.astro';
import type { GetStaticPaths } from 'astro';
import CategoriesList from '../../../components/categories-list.astro';

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const post = (await getCollection('posts')).find((post) => post.slug === slug);
const { Content } = post ? await post.render() : { Content: '' };
---

<BlogLayout
  title={`${post?.data.title} | Nikos Printezis`}
  description={post?.data.description ?? ''}
  path={`/blog/post/${post?.slug}/`}
>
  <div class="page-content">
    <article class="post">
      <header>
        <h2 class="big-title">{post?.data.title}</h2>
        <time datetime={post?.data.date.toISOString().slice(0, 10)}>
          {post?.data.date.toISOString().slice(0, 10)}
        </time>
        <CategoriesList categorySlugs={post?.data.categories} />
      </header>
      <div class="content">
        <Content />
      </div>
      <aside>
        <p>
          <i>
            I hope you found this post useful! If you're looking for more
            content, check out my <a href="/blog/">blog</a>.
          </i>
        </p>
      </aside>
    </article>
  </div>
</BlogLayout>
