.button {
  border-radius: var(--border-radius-larger);
  background-color: var(--color-primary-light);
  color: var(--color-primary-white);
  white-space: nowrap;
  padding-block: var(--spacing-4);
  padding-inline: var(--spacing-8);
  line-height: 0;
  text-decoration: none;
  transition: color var(--transition-time-quick);

  &:hover {
    color: var(--color-secondary-light);
  }

  &:has(svg) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
  }
}

.opposite-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spacing-4);
  margin-block-start: var(--spacing-10);
}
