.button {
  display: inline-block;
  border: 0;
  border-radius: var(--border-radius-large);
  background: var(--color-primary-light);
  color: var(--color-primary-white);
  white-space: nowrap;
  padding-block: var(--spacing-6);
  padding-inline: var(--spacing-5);
  line-height: 0;
  text-decoration: none;
  transition: background-color var(--transition-time-quick);
  cursor: pointer;

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-secondary-white);
  }

  &:active {
    background-color: var(--color-primary-light);
    color: var(--color-primary-white);
  }

  &:has(svg) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-4);
}

.page-navigation-buttons {
  justify-content: space-between;
  margin-block-start: var(--spacing-10);
}
