*,
*::before,
*::after {
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}

html,
body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--color-primary);
  color: var(--color-primary-white);
  -webkit-font-smoothing: antialiased;
}

.sr-only {
  white-space: nowrap;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  border-width: 0;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  overflow: hidden;

  &:focus {
    white-space: normal;
    inline-size: auto;
    block-size: auto;
    margin: 0;
    clip: auto;
    position: static;
    overflow: auto;
  }
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

a,
a:where(:visited),
a:where(:active) {
  color: var(--color-secondary-light);
  text-decoration-skip-ink: none;

  &:hover {
    text-decoration: none;
  }
}

svg {
  width: 1em;
  height: 1em;
}

p:not(.astro-code) code,
ul:not(.astro-code) code {
  display: inline-block;
  padding-inline: var(--spacing-1);
  background-color: var(--color-code);
  color: var(--color-primary-white);
}

.astro-code {
  margin-block-end: var(--spacing-4);
  padding: var(--spacing-4);
  overflow: auto;
  border-radius: var(--border-radius-normal);
  font-family: var(--font-family-code);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);

  &[data-language='plaintext'] {
    white-space: normal;
    font-family: var(--font-family-base);
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
  }
}

.code-result {
  margin-block-end: var(--spacing-4);
  padding: var(--spacing-4);
  overflow: auto;
  border-radius: var(--border-radius-normal);
  background-color: var(--color-primary-white);
  color: var(--color-primary-black);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

i,
em {
  font-style: italic;
}

ul {
  list-style-type: disc;
}

hr {
  border-width: 0.5px;
  border-color: var(--color-secondary-light);
  margin-block: var(--spacing-4);
}

.text-center {
  text-align: center;
}
