@use 'functions' as f;

.page {
  min-block-size: 100vb;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;

  & > header {
    position: relative;
  }
}

.page-content {
  padding: var(--spacing-4);
  max-inline-size: #{f.relativeSize(700)};
  margin: auto;
}

.page-icon {
  background-color: var(--color-secondary);
  color: var(--color-secondary-white);
  display: inline-block;
  border-radius: 50%;
  padding: var(--spacing-4);
  font-size: var(--font-size-8);
  line-height: 0;
}

main {
  container-type: inline-size;
}

.content-with-sidebar {
  display: grid;
  grid-template-columns: #{f.relativeSize(700)} #{f.relativeSize(300)};
  justify-content: center;
}

@container (max-inline-size: #{f.relativeSize(1000)}) {
  .content-with-sidebar {
    grid-template-columns: #{f.relativeSize(700)};
  }
}

@container (max-inline-size: #{f.relativeSize(700)}) {
  .content-with-sidebar {
    display: block;
  }
}
