.page {
  min-block-size: 100vb;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;

  & > header {
    position: relative;
  }
}

.page-content {
  padding: var(--spacing-4);
}

.page-icon {
  background-color: var(--color-secondary);
  color: var(--color-secondary-white);
  display: inline-block;
  border-radius: 50%;
  padding: var(--spacing-4);
  font-size: var(--font-size-8);
  line-height: 0;
}

main {
  container-type: inline-size;
}

.content-with-sidebar {
  display: grid;
  grid-template-columns: 1fr 25rem;
}

@container (max-inline-size: 50rem) {
  .content-with-sidebar {
    display: block;
  }
}
