.page {
  min-block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  & > header {
    position: relative;
  }
}

.page-content {
  padding: var(--spacing-4);
}

.page-icon {
  background-color: var(--color-secondary);
  color: var(--color-secondary-white);
  display: inline-block;
  border-radius: 50%;
  padding: var(--spacing-4);
  font-size: var(--font-size-8);
  line-height: 0;
}

.content-with-sidebar {
  display: flex;
  flex-wrap: wrap;

  & > :first-child {
    flex-basis: 500px;
    flex-grow: 1;
  }

  & > :nth-child(2) {
    max-inline-size: 400px;
    inline-size: 100%;
  }
}
