.post {
  margin-block-start: var(--spacing-10);

  .content {
    p,
    ul {
      margin-block: var(--spacing-4);
    }

    ul {
      padding-inline-start: var(--spacing-8);
    }
  }

  time {
    color: var(--color-primary-grey-light);
  }

  &:first-child {
    margin-block-start: 0;
  }

  aside {
    margin-block-start: var(--spacing-4);
    padding-block-start: var(--spacing-4);
    border-block-start: solid 1px var(--color-secondary-light);
  }
}
