@use 'variables';

:root {
  --color-primary: hsl(212, 32%, 8%);
  --color-primary-black: hsl(212, 32%, 5%);
  --color-primary-grey-light: hsl(212, 0%, 70%);
  --color-primary-white: hsl(212, 32%, 98%);
  --color-primary-light: hsl(212, 32%, 12%);
  --color-primary-overlay: hsla(212, 32%, 5%, 0.7);
  --color-secondary: hsl(285, 72%, 50%);
  --color-secondary-light: hsl(285, 72%, 65%);
  --color-secondary-white: hsl(285, 72%, 98%);
  --color-code: #24292e;

  --border-radius-normal: 4px;
  --border-radius-large: 8px;
  --border-radius-larger: 16px;

  --transition-time-quick: 0.3s;
  --transition-time-normal: 0.5s;
  --transition-time-slow: 1s;

  --font-family-base: 'Roboto', sans-serif;
  --font-family-serif: 'Lora', serif;
  --font-family-code: monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --line-height-base: 1.5rem;

  @for $i from 1 through variables.$total-font-sizes {
    --font-size-#{$i}: #{0.5 + 0.25 * $i}rem;
    --line-height-#{$i}: #{0.75 + 0.375 * $i}rem;
  }

  @for $i from 1 through variables.$total-spacings {
    --spacing-#{$i}: #{$i * 0.25}rem;
  }
}
