---
import CategoriesList from '../components/categories-list.astro';
import BlogLayout from './blog-layout.astro';

interface Props {
  title: string;
  description: string;
  path: string;
  image?: string;
  lang?: string;
  pageTitle?: string;
}
---

<BlogLayout {...Astro.props}>
  <div class="content-with-sidebar">
    <slot />
    <CategoriesList />
  </div>
</BlogLayout>
