---
import styles from './styles.module.scss';

interface Props {
  spaceBetween?: boolean;
}

const { spaceBetween } = Astro.props;
---

<nav class:list={[styles.group, { [styles.spaceBetween]: spaceBetween }]}>
  <slot />
</nav>
