---
import { getCollection } from 'astro:content';
import Button from '@components/button/index.astro';
import styles from './styles.module.scss';

interface Props {
  categorySlugs?: string[];
}

const { categorySlugs } = Astro.props;

let categories = (await getCollection('categories')).sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
if (categorySlugs) {
  categories = categories.filter((category) =>
    categorySlugs.includes(category.id),
  );
}
---

<nav class={styles.categoriesList}>
  <ul>
    {
      categories.map((cat) => (
        <li>
          <Button
            type="link"
            variant="small"
            href={`/blog/category/${cat.id}/`}
            title={`View all posts in category "${cat.data.title}"`}
          >
            {cat.data.title}
          </Button>
        </li>
      ))
    }
  </ul>
</nav>
